#Secrets
*.env
LogArtApp/backend/.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
LogArtApp/backend/public/images/
LogArtApp/backend/ssl/server.cert
LogArtApp/backend/ssl/server.key
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
